.title {
    width: 500px;
    height: 400px;
    border: 2px solid rgb(13, 112, 36);
    background-image: url("https://media.istockphoto.com/id/1489566726/photo/leopard-in-sri-lanka.jpg?s=612x612&w=0&k=20&c=kIHqKhwO_JCq94l7yg8zkZuY-v-BbiaaRxr-giy97w4=");
    box-shadow: 0 10px 10px rgb(16, 134, 59);
}